* {
    box-sizing: border-box;
}

body{
   scroll-behavior: smooth;
}

/* header */

header{
    background: #648360;
    padding-top:10px;
}

.selfie{
    border-radius: 100%;
    height:120px;
    width:120px;
}

.name{
    color:#fff;
    font-weight:700;
    margin-top: 25px;
    padding-left: 30px;
    text-shadow: 0.5px 1px rgb(61, 68, 68);
}

.title{
    color:#fff;
    font-size: 20px;
    font-weight: 600;
    padding-left: 30px;
    text-shadow: 0.5px 1px rgb(61, 68, 68);
}

.nav-btn{
    background:darkkhaki;
    box-shadow: 0.5px 1px rgb(61, 68, 68);
    color:#fff;
    font-weight:500;
    margin-top: 35px;
    text-shadow: 0.5px 1px rgb(61, 68, 68);
    font-size:8px;
    margin-right: 5px;
}

@media (min-width: 320px) {
    .selfie {
        margin-left:85px;
        margin-top:20px;
    }
    .name {
        margin-left:15px;
    }
    .title {
        margin-left:35px;
    }
    .nav-btn {
        font-size: 8px;
        margin-bottom:25px;
    }
}

@media (min-width: 375px) {
    .selfie {
        margin-left:110px;
    }
    .name {
        margin-left:40px;
    }
    .title {
        margin-left:60px;
    }
    .nav-btn {
        font-size: 10px;
    }
}

@media (min-width: 425px) {
    .selfie {
        margin-left:130px;
    }
    .name {
        margin-left:60px;
    }
    .title {
        margin-left:80px;
    }
}

@media (min-width: 768px) {
    .selfie{
        width:100px;
        height:100px;
        margin-bottom:30px;
        margin-left:0px;
    }
    .name {
        font-size: 24px;
        margin-left:20px;
        margin-top:60px;
    }
    .title {
        font-size:12px;
        margin-left:20px;
        margin-top:0;
    }
    .nav-btn {
        margin-top:50px;
    }
}

@media (min-width: 1024px) {
    .selfie {
        width:120px;
        height:120px;
    }
    .name {
        font-size: 30px;
        margin-left:20px;
        margin-top:70px;
    }
    .title {
        font-size: 20px;
        margin-left:15px;
    }
    .nav-btn {
        font-size: 16px;
        margin-top:70px;
    }
}

@media (min-width: 1440px) {
    .selfie {
        width:150px;
        height:150px;
    }
    .name {
        font-size: 40px;
        margin-left:35px;
        margin-top:70px;
    }
    .title {
        font-size: 20px;
        margin-left:35px;
    }
    .nav-btn {
        font-size: 20px;
    }
}

/* close header */

/* main */

main{
    background: #c1dfbf;
}

.carousel-item{
    padding-top:15px;

}

.carousel-image {
    height: 450px;
    width: 100%;
}

@media (max-width: 476px) {
    .carousel-item {
        height: 300px;
    }
}

hr{
    background:rgb(77, 75, 75);
    font-weight:400;
    margin-top:25px;
    height: 1px;
}h2{
    color:rgb(77, 75, 75);
    margin-top:5px;
}

ul{
    color:#fff;
    list-style: none;
    margin:0;
}

.block1{
    background: #648360;
    border-radius: 3%;
    color:#fff;
    padding: 5px 5px 5px 5px;
}

.block2{
    background: #648360;
    border-radius: 3%;
    color:#fff;
    padding: 5px 5px 5px 5px;
}

.block3{
    background: #648360;
    border-radius: 3%;
    color:#fff;
    padding: 5px 5px 5px 5px;
}

.block1, .block2, .block3{
    margin-bottom:20px;
}

.block4{
    background: #648360;
    border-radius: 3%;
    color:#fff;
    padding: 5px 5px 5px 5px;
}

.block5{
    background: #648360;
    border-radius: 3%;
    color:#fff;
    opacity: 0.1;
    padding: 5px 5px 5px 5px;
}

.block6{
    background: #648360;
    border-radius: 3%;
    color:#fff;
    opacity: 0.1;
    padding: 5px 5px 5px 5px;
}

.block4, .block5, .block6{
    margin-bottom:20px;
}

/* close main */

/* footer */

footer{
    background: #648360;
}

.colophon-text{
    color:#fff;
    margin-top: 10px;
    padding-left: 20px; 
}

.icon {
    display: inline-block;
    fill: #fff;
    height: 2em;
    margin-left: 10px;
    margin-top: 10px;
    stroke: currentColor;
    stroke-width: 0;
    width: 2em;
}

/* https://www.linkedin.com/in/mark-noel-3b7415a3 */

/* https://twitter.com/MNoelTheCoder */

/* mailto:mark@mscodingacademies.org */

/* close footer */







